body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#calculator {
  background-color: rgb(44, 42, 42);
  width: 25em;
  height: 35em;
}

#digits {
  height: 75%;
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto;
}